
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 shadow">
  
  <!-- LOGO -->
  <a class="navbar-brand fw-bold text-warning" routerLink="/">
  <h1 class="header">    🚀CRUD APPLICATION</h1>
  </a>

  <!-- TOGGLE BUTTON (mobile) -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- MENU -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>

    </ul>

    <!-- BUTTON -->
    <!-- <button class="btn btn-warning ms-3" >Login</button> -->
    <button routerLink="/login" class="btn btn-warning">
  Login
</button>
    
  </div>
</nav> 
 <h1 class="header icon">    
    <i class="fa-solid fa-plus"></i>
    <i class="fa-solid fa-eye"></i>
    <i class="fa-solid fa-pen-to-square"></i>
    <i class="fa-solid fa-trash"></i>
    
    CRUD APPLICATION</h1>