.header{
    padding: 20px;
    background-color: floralwhite;
    text-align: center;
}



.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-link {
  margin-right: 15px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffc107 !important;
  transform: scale(1.1);
}

.active {
  color: #ffc107 !important;
  font-weight: bold;
}
.icon{
color: #ffc107 !important;
background-color: rgb(165, 165, 165);

}