<div class="container mt-5">

  <h2 class="text-center text-primary">📞 Contact Us</h2>

  <div class="row mt-4">

    <!-- CONTACT FORM -->
    <div class="col-md-6">

      <form>

        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" placeholder="Enter your name">
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" placeholder="Enter your email">
        </div>

        <div class="mb-3">
          <label class="form-label">Message</label>
          <textarea class="form-control" rows="4" placeholder="Write message"></textarea>
        </div>

        <button class="btn btn-success w-100">Send Message</button>

      </form>

    </div>

    <!-- CONTACT INFO -->
    <div class="col-md-6">

      <div class="card p-3 shadow">

        <h4>📍 Our Info</h4>
       <h4 class="name"><b>Name:</b>Muhammad Bilal</h4>
       <div class="contct">
         <P><b>Phone:</b> +92 3263865990</P>
        <p><b>Email:</b>bilalghouri6467803@gmail.com</p>
        <p><b>Address:</b> Fort Abbas, Pakistan</p>

       </div>
        <hr>
<div class="footer">
    
        <h5>🌐 Follow Us</h5>
        <p>Facebook | Instagram | LinkedIn</p>
</div>

      </div>

    </div>

  </div>

</div>