
<div class="container mt-5">

  <h2 class="text-center text-primary">About Our CRUD App</h2>

  <p class="mt-4" style="background-color: gray; color: white; padding: 30px; font-size: large;">
    This is a simple Angular CRUD application where you can 
    Create, Read, Update, and Delete user data using Firebase database.
  </p>

  <hr><hr>

  <h1>🚀 BILAL ANGULAL</h1>
  <ul>
    <li>Reactive Forms</li>
    <li>Angular Routing</li>
    <li>Firebase Integration</li>
    <li>Bootstrap UI</li>
    <h4>All feachures use my Angular Crud Application </h4>
  </ul>

  <hr><hr>

  <h1>👨‍💻 Developer Info:</h1>
  <h2>Name: Bilal</h2>
  <p>Project: Angular CRUD System</p>

</div>